global
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        root
    group       root
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats level admin

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s

frontend http
    bind *:80
    mode http
    acl url_js path_beg /js
    acl url_go path_beg /go

    use_backend js if url_js
    use_backend go if url_go

    #default_backend web-backend

backend js
    balance roundrobin
    mode http
    reqrep ^([^\ ]*\ /)js[/]?(.*)     \1\2

    {% for host in groups.docker_hosts %}
    server {{ host }} {{ hostvars[host].ansible_eth1.ipv4.address }}:{{ hostvars[host].js_port }} check
    {% endfor %}

backend go
    balance roundrobin
    mode http
    reqrep ^([^\ ]*\ /)go[/]?(.*)     \1\2
    {% for host in groups.docker_hosts %}
    server {{ host }} {{ hostvars[host].ansible_eth1.ipv4.address }}:{{ hostvars[host].go_port }} check
    {% endfor %}
